* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.indice {
  background: url("../img/scattered-forcefields-1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  z-index: 5;
}
.logo h1 {
  margin: 2rem;
  font-family: "Staatliches", cursive;
  background: linear-gradient(to right, #f0da0f, #de5d00);
  background-clip: text;
  -webkit-background-clip: text !important;
  color: transparent;
  pointer-events: none;
}
.logo img {
  pointer-events: none;
  padding: 0.5rem;
  max-height: 8vh;
}

.my-svg {
  fill: #fec600;
}

.nav-header {
  min-height: 5rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #f0da0f;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 7.5vw;
  z-index: 2;
  position: fixed;
  top: 0;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: linear-gradient(90deg, #ffe600 36.85%, #ffb800 74.89%);
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 4px;
  background: rgba(255, 255, 255, 0);
}

.header {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 4px;
  background: url("../img/guitarrista.png") right bottom/50% no-repeat, linear-gradient(135deg, rgba(3, 60, 94, 0.8) 0%, rgba(59, 29, 87, 0.8) 100%), url("../img/escuela-de-arte-bn.png") center bottom/100% no-repeat;
  width: 100% !important;
}

.secundaria .hero-desc {
  padding-left: 5rem;
  overflow: hidden;
}
.secundaria .hero-desc .donar {
  align-self: flex-start;
}

.hero-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  flex-basis: 25rem;
  position: relative;
  isolation: isolate;
}
.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 4.5rem;
  padding-top: 2.5rem;
}
.hero-desc p {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
}
.hero-desc p span {
  color: #fec600;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.inicio-span {
  color: #ffb800;
}

.programas-span {
  color: #ffb800;
}

.nosotros-span {
  color: #ffb800;
}

.donar {
  background: none;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-end;
  cursor: pointer;
}
.donar img {
  pointer-events: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  opacity: 1;
  -webkit-clip-path: circle(50px at 100% -10%);
          clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
  z-index: 10;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3 {
  padding: 3rem 0 rem;
}

.contact {
  flex-basis: 30rem;
}
.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}
.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-left,
.reveal-right {
  position: absolute;
  width: 101%;
  height: 110%;
  background: rgb(32, 32, 32);
  left: 0;
  top: 0%;
}

.reveal-left.inicio {
  transform: translate(-25%, -15%);
  height: 190%;
  width: 250%;
  background: linear-gradient(135deg, rgba(3, 60, 94, 0.8) 0%, rgba(59, 29, 87, 0.8) 100%), linear-gradient(135deg, rgba(181, 228, 255, 0.8) 0%, rgba(218, 188, 246, 0.8) 100%);
  display: none;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
  z-index: 3;
}

#inicio {
  height: 90vh;
}
#inicio .hero-desc p {
  font-size: 2rem;
  line-height: 3.2rem;
}

#programas .hero-img,
#nosotros .hero-img {
  border-radius: 2rem;
}
#programas .hero-img img,
#nosotros .hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cursor.nav-active {
  background: rgba(48, 200, 144, 0.7);
  transform: scale(3);
  pointer-events: none;
}

.cursor.donar-active {
  background: white;
  transform: scale(3);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background: #fec600;
}

.scrollmagic-pin-spacer {
  position: static !important;
  overflow: hidden;
}

body.hide {
  overflow: hidden;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background: rgb(32, 32, 32);
  z-index: 5;
}

.swipe2 {
  background: #fec600;
  z-index: 4;
}

.swipe3 {
  background: rgb(32, 32, 32);
  z-index: 3;
}

.donar-indice {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/fondo_byn.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.detail-slide {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 2.5rem auto 2.5rem auto;
  color: white;
  flex-wrap: wrap;
  position: relative;
  text-shadow: 1px 3px 2px black;
}
.detail-slide h1 {
  color: #fec600;
}

.donacion-img {
  height: 75vh;
  flex-basis: 30rem;
}
.donacion-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.donacion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}
.donacion-text h1 {
  font-size: 6rem;
  padding: 5rem 0rem 0rem 0rem;
}
.donacion-text p {
  font-size: 2rem;
  line-height: 3.2rem;
  margin: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  padding: 1rem;
}

.donacion-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: 0.8;
}

@media screen and (max-width: 1240px) {
  main {
    width: 100%;
    margin: 0;
  }
  .header {
    background: url("../img/guitarrista.png") center bottom/70% no-repeat, linear-gradient(135deg, rgba(3, 60, 94, 0.8) 0%, rgba(59, 29, 87, 0.8) 100%), url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  .slide {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
  .secundaria .hero-desc {
    padding: 0;
  }
  .secundaria .hero-desc h2 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
  }
  .secundaria .hero-desc p {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .secundaria .hero-img {
    margin-top: 8rem;
    max-height: 40vh;
  }
  .secundaria .donar {
    margin: 0 auto;
  }
  #inicio .hero-desc {
    margin-top: 7rem;
    min-height: 70vh;
    justify-content: space-between;
  }
  #inicio .hero-desc h2 {
    font-size: 3rem;
  }
  #inicio .hero-desc p {
    font-size: 1.5rem;
  }
  #inicio .hero-desc .donar {
    margin: 0 auto;
  }
  .detail-slide {
    width: 90%;
    text-align: center;
  }
  .donacion-text {
    margin-top: 5rem;
    z-index: 1;
  }
  .donacion-text p {
    margin: 0 auto 4rem auto;
    padding: 1rem;
    text-align: left;
  }
  .donacion-text h1 {
    margin: 2rem 0rem;
    padding: 0;
    font-size: 4.5rem;
  }
  .donacion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-links {
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
  }
  .nav-links h3 {
    padding-top: 2rem;
  }
  .contact {
    width: 90%;
  }
  .contact h2 {
    font-size: 3rem;
    text-align: center;
  }
  .contact p {
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 974px) {
  .header {
    background: url("../img/guitarrista.png") center bottom/80% no-repeat, linear-gradient(135deg, rgba(3, 60, 94, 0.8) 0%, rgba(59, 29, 87, 0.8) 100%), url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  .secundaria .hero-desc p {
    padding-bottom: 0;
  }
  .donacion-text {
    margin: 1rem 0 0 0;
  }
  .donacion-text p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .donacion-img {
    max-height: 55vh;
    flex-basis: content;
    max-width: 70%;
  }
  .donacion1 .donacion-img {
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 660px) {
  .header {
    background: url("../img/guitarrista.png") center bottom/100% no-repeat, linear-gradient(135deg, rgba(3, 60, 94, 0.8) 0%, rgba(59, 29, 87, 0.8) 100%), url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  #inicio .hero-desc {
    margin-top: 7rem;
    min-height: 70vh;
    justify-content: space-between;
  }
  #inicio .hero-desc h2 {
    font-size: 2.2rem;
  }
  #inicio .hero-desc p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .secundaria .hero-desc {
    padding: 0;
  }
  .secundaria .hero-desc h2 {
    font-size: 2rem;
    padding: 0 0 0.5rem 0;
  }
  .secundaria .hero-desc p {
    padding: 0;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: left;
  }
  .secundaria .hero-img {
    margin-top: 8rem;
    max-height: 40vh;
  }
  .detail-slide h1 {
    font-size: 3.5rem;
  }
  .detail-slide p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 440px) {
  #inicio .hero-desc {
    margin-top: 5rem;
    min-height: 70vh;
    justify-content: space-between;
  }
  #inicio .hero-desc h2 {
    padding-top: 1.5rem;
    font-size: 2.5rem;
  }
  #inicio .hero-desc p {
    font-size: 1.2rem;
    padding: 0;
    margin-top: 2rem;
  }
  #inicio .hero-desc .donar {
    margin-right: 1.5rem;
  }
  .secundaria .hero-desc {
    padding: 0;
  }
  .secundaria .hero-desc h2 {
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 1rem 0rem;
  }
  .secundaria .hero-desc p {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
  }
  .secundaria .hero-img {
    flex-basis: 0%;
  }
  .secundaria .donar {
    margin: 0 auto;
  }
  .detail-slide h1 {
    font-size: 2.5rem;
  }
  .detail-slide p {
    font-size: 1.1rem;
  }
  .nav-header {
    min-height: 4rem;
    padding: 0 5vw;
  }
  .logo img {
    max-height: 6vh;
  }
  .line1,
  .line2 {
    width: 2rem;
  }
}
@media screen and (max-height: 770px) {
  #inicio .hero-desc {
    margin-top: 4rem;
    min-height: 85vh;
  }
  #inicio .hero-desc h2 {
    padding-top: 1rem;
    font-size: 2rem;
  }
  #inicio .hero-desc p {
    font-size: 1.1rem;
    margin-top: -3rem;
    line-height: 1.8rem;
  }
  #inicio .hero-desc .donar {
    margin-right: 1.5rem;
  }
  .secundaria .hero-desc h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0 0 0.5rem 0rem;
  }
  .secundaria .hero-desc p {
    margin-top: 0rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .secundaria .hero-img {
    margin-top: 5rem;
  }
  .secundaria .donar img {
    margin-top: -0.5rem;
  }
  .nav-links {
    font-size: 1.5rem;
  }
  .contact h2 {
    font-size: 2.5rem;
  }
  .contact p {
    padding-top: 0;
  }
  .donacion-text {
    margin: 0;
  }
  .donacion-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .donacion-img img {
    height: 80%;
  }
}/*# sourceMappingURL=style.css.map */