$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(to right, #f0da0f, #de5d00);
$secondary-gradient: linear-gradient(
  135deg,
  rgba(3, 60, 94, 0.8) 0%,
  rgba(59, 29, 87, 0.8) 100%
);
$background-color: #154353;
$gray-text: silver;
$almost-black: rgb(32, 32, 32);
$blue: #0053b8;
$purple: #b373f7;
$yellow-bg: #fec600;
$orange: #ffb800;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "donar";

@media screen and (max-width: 1240px) {
  main {
    width: 100%;
    margin: 0;
  }
  .header {
    background: url("../img/guitarrista.png") center bottom/70% no-repeat,
      // linear-gradient(0deg, rgba(5, 20, 47, 0.8), rgba(5, 20, 47, 0.8)),
      linear-gradient(
          135deg,
          rgba(3, 60, 94, 0.8) 0%,
          rgba(59, 29, 87, 0.8) 100%
        ),
      url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  .slide {
    flex-direction: column;
    width: 90%;
    text-align: center;
    // margin-top: 4rem;
  }
  .secundaria {
    .hero-desc {
      padding: 0;
      h2 {
        font-size: 2.5rem;
        padding: 1rem 0rem;
      }
      p {
        padding: 1rem 1rem 0 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
    }
    .hero-img {
      margin-top: 8rem;
      max-height: 40vh;
    }
    .donar {
      margin: 0 auto;
    }
  }
  #inicio {
    .hero-desc {
      margin-top: 7rem;
      min-height: 70vh;
      justify-content: space-between;
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
      .donar {
        margin: 0 auto;
      }
    }
  }
  .detail-slide {
    width: 90%;
    text-align: center;
  }
  .donacion-text {
    margin-top: 5rem;
    z-index: 1;
    p {
      margin: 0 auto 4rem auto;
      padding: 1rem;
      text-align: left;
    }
    h1 {
      margin: 2rem 0rem;
      padding: 0;
      font-size: 4.5rem;
    }
  }
  .donacion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    flex-direction: column;
    // display: block;
    // padding: 5rem;
  }
  .nav-links {
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
    h3 {
      padding-top: 2rem;
    }
  }
  .contact {
    width: 90%;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      padding: 2rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 974px) {
  .header {
    background: url("../img/guitarrista.png") center bottom/80% no-repeat,
      // linear-gradient(0deg, rgba(5, 20, 47, 0.8), rgba(5, 20, 47, 0.8)),
      linear-gradient(
          135deg,
          rgba(3, 60, 94, 0.8) 0%,
          rgba(59, 29, 87, 0.8) 100%
        ),
      url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  .secundaria {
    .hero-desc {
      p {
        padding-bottom: 0;
      }
    }
  }
  .donacion-text {
    margin: 1rem 0 0 0;
    p {
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  .donacion-img {
    max-height: 55vh;
    flex-basis: content;
    max-width: 70%;
  }
  .donacion1 .donacion-img {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 660px) {
  .header {
    background: url("../img/guitarrista.png") center bottom/100% no-repeat,
      // linear-gradient(0deg, rgba(5, 20, 47, 0.8), rgba(5, 20, 47, 0.8)),
      linear-gradient(
          135deg,
          rgba(3, 60, 94, 0.8) 0%,
          rgba(59, 29, 87, 0.8) 100%
        ),
      url("../img/escuela-de-arte-bn.png") center right no-repeat;
  }
  #inicio {
    .hero-desc {
      margin-top: 7rem;
      min-height: 70vh;
      justify-content: space-between;
      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
    }
  }
  .secundaria {
    .hero-desc {
      padding: 0;
      h2 {
        font-size: 2rem;
        padding: 0 0 0.5rem 0;
      }
      p {
        padding: 0;
        font-size: 1.1rem;
        line-height: 2rem;
        text-align: left;
      }
    }
    .hero-img {
      margin-top: 8rem;
      max-height: 40vh;
    }
  }
  .detail-slide {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 440px) {
  #inicio {
    .hero-desc {
      margin-top: 5rem;
      min-height: 70vh;
      justify-content: space-between;
      h2 {
        padding-top: 1.5rem;
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
        padding: 0;
        margin-top: 2rem;
      }
      .donar {
        margin-right: 1.5rem;
      }
    }
  }
  .secundaria {
    .hero-desc {
      padding: 0;
      h2 {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 1rem 0rem;
      }
      p {
        padding: 0;
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
      }
    }
    .hero-img {
      flex-basis: 0%;
    }
    .donar {
      margin: 0 auto;
    }
  }
  .detail-slide {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .nav-header {
    min-height: 4rem;
    padding: 0 5vw;
  }
  .logo {
    img {
      max-height: 6vh;
    }
  }
  .line1,
  .line2 {
    width: 2rem;
  }
}
@media screen and (max-height: 770px) {
  #inicio {
    .hero-desc {
      margin-top: 4rem;
      min-height: 85vh;
      h2 {
        padding-top: 1rem;
        font-size: 2rem;
      }
      p {
        font-size: 1.1rem;
        margin-top: -3rem;
        line-height: 1.8rem;
      }
      .donar {
        margin-right: 1.5rem;
      }
    }
  }
  .secundaria {
    .hero-desc {
      h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding: 0 0 0.5rem 0rem;
      }
      p {
        margin-top: 0rem;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
      }
    }
    .hero-img {
      margin-top: 5rem;
    }
    .donar {
      img {
        margin-top: -0.5rem;
      }
    }
  }
  .nav-links {
    font-size: 1.5rem;
  }
  .contact {
    h2 {
      font-size: 2.5rem;
    }
    p {
      padding-top: 0;
    }
  }
  .donacion-text {
    margin: 0;
    h2 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
  }
  .donacion-img {
    img {
      height: 80%;
    }
  }
}
